
@{ 
    ViewBag.Title = "submit_order";
}

<div class="row">
    <div class="col-sm-12"> <h2>درخواست شما با موفقیت ثبت شد وبه زودی با شما تماس گرفته میشود</h2>
    شماره سفارش شما:@ViewBag.orderid

    </div>
        


</div>

